# Practices

In [7]:
print('Hello World !')

Hello World !

In [2]:
x = 2

print(x)

2

In [3]:
type(x)

int

In [4]:
print(x+5)

7

In [5]:
y = 3

In [6]:
print(x * y)

6

In [10]:
type(True)

bool

In [11]:
type(1>5)

bool

In [17]:
qout1 = ' I have phone '

qout2 = " I've phone "

In [19]:
type(qout2)

str

# _______________________________

# (list)

In [21]:
real_madrid = ['ronaldo', 'zidane', 'figo']

In [45]:
print(real_madrid)

['ronaldo', 'zidane', 'figo']

In [27]:
type(real_madrid)

list

## Add

In [46]:
real_madrid.append('raul')

In [47]:
print(real_madrid)

['ronaldo', 'zidane', 'figo', 'raul']

## Remove

In [48]:
del real_madrid[2]

In [49]:
print(real_madrid)

['ronaldo', 'zidane', 'raul']

## Update

In [50]:
real_madrid[0] = 'beckham'

In [51]:
print(real_madrid)

['beckham', 'zidane', 'raul']

## Call a value

In [52]:
real_madrid[1]

'zidane'

# ____________________________

# (Set)

In [56]:
## dosnt have duplicate values

## cant call a value

In [53]:
players = {1,2,3,5,3,1,7,2}

In [55]:
print(players)

{1, 2, 3, 5, 7}

In [67]:
type(players)

set

# ___________________________

# (Dictionary)

In [ ]:
# Key:Value pair

In [59]:
player_info = {'name':'zidane', 'number': 5, 'position': 'midfielder'}

In [60]:
print(player_info)

{'name': 'zidane', 'number': 5, 'position': 'midfielder'}

In [61]:
type(player_info)

dict

## Call a Value

In [62]:
player_info['name']

'zidane'

In [63]:
player_info.keys()

dict_keys(['name', 'number', 'position'])

In [64]:
player_info.values()

dict_values(['zidane', 5, 'midfielder'])

## Update

In [65]:
player_info['position'] = 'centre midfielder'

In [66]:
print(player_info)

{'name': 'zidane', 'number': 5, 'position': 'centre midfielder'}

#

# _______________________________________________________________

# Operators

## comparison operator

In [68]:
5 > 3

True

In [69]:
x = 2
y = 6

y <= x

False

## membership operator

In [88]:
group = [1,2,3,4,5,6]
num1 = 3
num2 = 7

In [76]:
num1 in group

True

In [77]:
num2 in group

False

In [89]:
9 not in group

True

## logical operator

In [82]:
(5>2) and (5>3)

True

In [84]:
(5>2) and (5==4)

False

In [85]:
(2<6) or (3>4)

True

In [87]:
not(7==4)

True

#

# ____________________________________________________________

# If, Elif, Else statements

In [7]:
num = 5
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [8]:
num = 0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [9]:
num = -3
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

#

In [16]:
if 10 < 7:
    print('good sales')
elif 10==9:
    print('not bad sales')
elif 10 < 2:
    print('normal sales')
elif 10 >= 12:
    print('excellent sales')
else:
    print('mega sales')

mega sales

#

# ______________________________________________________________

# For loops

In [1]:
# (x, element, i, y) can be named anything i want

# range(5) = [0,1,2,3,4]
# range(2,5) = [2,3,4]

In [1]:
fruits = ['orange', 'apple', 'mango', 'banana']

for x in fruits:
    print(x)

orange
apple
mango
banana

In [20]:
for element in range(1,4):
    print(element)

1
2
3

In [13]:
for i in range(1,4):
    print(i+1)

2
3
4

In [6]:
names =['Ali', 'Ahmed', 'Issa']

for y in names:
    print(y + ', do you learn python ?')
    print('Yes, I do')
print('They all do .')

Ali, do you learn python ?
Yes, I do
Ahmed, do you learn python ?
Yes, I do
Issa, do you learn python ?
Yes, I do
They all do .

#

# _________________________________________________________

# While loops

In [2]:
i = 1
while i <= 4:
    print(i)
    i = i + 1
print('done with loop')

1
2
3
4
done with loop

In [7]:
number = 0
while number < 5:
    print(number)
    if number == 3:
        break
    number = number + 1

0
1
2
3

#

# _________________________________________________________

# Functions

In [1]:
def function():
    print('my function')

In [2]:
function()

my function

#

In [19]:
def number_multiply(x,y):
    print(x * y)

In [22]:
number_multiply(2,5)

10

#

In [20]:
def number_multiply(x,y):
    print(x * y)

In [23]:
number_multiply(x = 2 , y = 5)

10

#

In [7]:
def num_powered(x,y):
    print(x**y)

In [10]:
num_powered(4,3)

64

#

In [11]:
# if I dont know how many arguments, I use *

In [16]:
def number_group(*number):
    print(number[0] + number[2])
    
number_group(3,6,5,9,7)

8

#

In [29]:
# I need to undrestand this more

In [11]:
def number_key(**number):
    print('My number is : ' + number['integer'])

In [12]:
number_key(integer = ' 200')

My number is :  200

#

# ___________________________________________________________

# Converting Data Types

In [37]:
num_str = '6'

In [38]:
type(num_str)

str

In [56]:
num_int = int(num_str)

In [57]:
type(num_int)

int

#

In [41]:
group = [2,4,1,5,3,1,2,6]

In [42]:
type(group)

list

In [68]:
tuple(group)

(2, 4, 1, 5, 3, 1, 2, 6)

In [64]:
type(tuple(group))

tuple

In [69]:
set(group)

{1, 2, 3, 4, 5, 6}

In [70]:
type(set(group))

set

#

In [71]:
group_dic = {'name': 'figo', 'age': 32, 'psition': 'RW'}

In [72]:
type(group_dic)

dict

In [73]:
group_dic.items()

dict_items([('name', 'figo'), ('age', 32), ('psition', 'RW')])

In [76]:
group_dic.keys()

dict_keys(['name', 'age', 'psition'])

In [75]:
group_dic.values()

dict_values(['figo', 32, 'RW'])

In [77]:
list(group_dic.values())

['figo', 32, 'RW']

In [78]:
type(list(group_dic.values()))

list

#

# ____________________________________________________________

# BMI calculator project

In [13]:
name = input("enter your name : ")

weight = int(input("enter your weight : "))

hight = float(input("enter your hight : "))

BMI = (weight) / (hight * hight)

print(BMI)

if (BMI <= 18.5):
    print(name + ", you are thin .")

elif (BMI <= 25):
    print(name + ", you are normal .")
    
elif (BMI <= 30):
    print(name + ", you are overweight .")
    
elif (BMI > 31):
    print(name + ", you are obese .")
    
else:
    print("enter valid numbers .")

enter your name : Abdulaziz
enter your weight : 62
enter your hight : 1.7
21.453287197231838
Abdulaziz, you are normal .

#

# _______________________________________________________________